<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="文件共享系统">
    <meta name="description" content="文件共享，文件传输，文件存储">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="no-cache">
    <meta name="robots" content="index">
    <title>{{.title}}</title>
    <link rel="shortcut icon" href="/web/static/assets/favicon.ico">
    <!-- import ElementUI CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.1/theme-chalk/index.css" rel="stylesheet">
</head>
<body>
<div id="app" style="margin: 24px 200px 24px 200px;">
    <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <div style="display: block; margin: 24px auto; font-size: 24px; text-align: center;">
                文件共享系统
            </div>
            <el-button type="primary" @click="dialogVisible = true">
                <i class="el-icon-upload el-icon--right"></i> 文件上传
            </el-button>
            <el-dialog
                    title="文件上传"
                    :visible.sync="dialogVisible"
                    width="28.5%"
                    center
                    :before-close="handleClose"
                    :destroy-on-close="true"
            >
                <el-upload
                        ref="upload"
                        drag
                        action
                        :http-request="handleUpload"
                        multiple
                        :on-change="handleChange"
                        :before-remove="beforeRemove"
                        :on-remove="handleRemove"
                        :auto-upload="false"
                        :show-file-list="true"
                        :file-list="fileList"
                >
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                    </div>
                </el-upload>
                <el-progress v-if="uploadFlag === true" :percentage="uploadPercent"></el-progress>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" :disabled="disabled" @click="uploadSubmit">
                        <i class="el-icon-upload el-icon--right"></i> 上传
                    </el-button>
                </span>
            </el-dialog>

            <el-button type="primary" :disabled="disabled" @click="deleteTips">
                <i class="el-icon-delete"></i> 批量删除
            </el-button>

            <el-table
                    ref="multipleTable"
                    border
                    :data="dataList"
                    tooltip-effect="dark"
                    style="width: 100%; margin-top: 10px;"
                    @selection-change="handleSelectionChange"
            >
                <el-table-column align="center" type="selection" width="50px"></el-table-column>
                <el-table-column align="center" prop="fileName" label="名称"></el-table-column>
                <el-table-column align="center" prop="fileSize" label="大小"></el-table-column>
                <el-table-column align="center" prop="dateTime" label="上传时间"></el-table-column>
                <el-table-column align="center" width="100px" label="操作">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="handleDownload(scope.$index, scope.row)"
                        >
                            <i class="el-icon-download el-icon--right"></i> 下载
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>
</div>
</body>
<!-- import Vue JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
<!-- import ElementUI JavaScript-->
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.1/index.js"></script>
<!-- import Axios JavaScript-->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                dialogVisible: false,
                dataList: [],
                multipleSelection: [],
                fileList: [],
                uploadFlag: false,
                uploadPercent: 0,
                disabled: true
            }
        },
        created() {
            this.getTableData();
        },
        methods: {
            handleChange(file, fileList) {
                this.disabled = fileList.length === 0;
                this.fileList = fileList;
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
            handleRemove(file, fileList) {
                this.disabled = fileList.length === 0;
            },
            handleSelectionChange(val) {
                this.disabled = val.length === 0;
                this.multipleSelection = val;
            },
            getTableData() {
                let _this = this;
                axios.get('/list').then((res) => {
                    // console.log(res.data);
                    _this.dataList = res.data.data;
                }).catch((res) => {
                    // console.log(res);
                    this.$message({
                        type: 'error',
                        message: '获取数据失败!'
                    });
                });
            },
            uploadSubmit() {
                this.$refs.upload.submit();
                this.$refs.upload.clearFiles();
            },
            handleUpload(fileList) {
                const _this = this;
                _this.uploadFlag = true;
                let formData = new FormData();
                formData.set("formDataFile", fileList.file);
                axios.post('/upload', formData, {
                    headers: {
                        "Content-type": "multipart/form-data"
                    },
                    onUploadProgress: event => {
                        _this.uploadPercent = Number((event.loaded / event.total * 100).toFixed(0));
                    }
                }).then((res) => {
                    // console.log(res);
                    if (_this.uploadPercent === 100) {
                        setTimeout(() => {
                            _this.uploadFlag = false;
                            _this.uploadPercent = 0;
                            _this.dialogVisible = false;
                            _this.disabled = true;
                            _this.fileList = [];
                        }, 2000)
                    }
                    _this.getTableData();
                }).catch((res) => {
                    // console.log(res);
                    this.$message({
                        type: 'error',
                        message: '上传失败!'
                    });
                });
            },
            handleDownload(index, rows) {
                const fileName = rows.fileName;
                axios.get(`/download/${fileName}`, {
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json;charset=utf-8',
                        withCredentials: true
                    },
                    // 表明返回服务器返回的数据类型
                    // 表示接收的数据为二进制文件流
                    responseType: 'blob'
                }).then((res) => {
                    // console.log(res);
                    const blob = new Blob([res.data], {type: 'application/octet-stream'})
                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        // 兼容IE10+，window.navigator.msSaveBlob：以本地方式保存文件
                        window.navigator.msSaveBlob(blob, decodeURI(fileName));
                    } else {
                        // 在拿到数据流之后,把流转为指定文件格式并创建a标签,模拟点击下载,实现文件下载功能
                        // 通过 FileReader 接受并解析
                        let reader = new FileReader();
                        reader.readAsDataURL(blob);
                        reader.onload = (e) => {
                            let link = document.createElement('a');
                            link.style.display = 'none';
                            link.href = e.target.result;
                            link.setAttribute("download", decodeURI(fileName));
                            // 兼容：某些浏览器不支持HTML5的download属性
                            if (typeof link.download === 'undefined') {
                                link.setAttribute('target', '_blank');
                            }
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                    }
                }).catch((res) => {
                    // console.log(res);
                    this.$message({
                        type: 'error',
                        message: '下载失败!'
                    });
                });
            },
            handleBatchDelete() {
                const _this = this;
                const fileNameList = [];
                for (let multipleFileName in this.multipleSelection) {
                    fileNameList.push(this.multipleSelection[multipleFileName].fileName);
                }
                axios.delete('/delete', {
                    data: {fileNameList: fileNameList}
                }).then((res) => {
                    // console.log(res.data);
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    _this.getTableData();
                }).catch((res) => {
                    // console.log(res);
                    this.$message({
                        type: 'error',
                        message: '删除失败!'
                    });
                });
            },
            // 提示信息
            deleteTips() {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.handleBatchDelete();
                }).catch(() => {
                    this.multipleSelection = [];
                    this.getTableData();
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            handleClose(done) {
                this.$confirm('确认关闭？').then(() => {
                    this.fileList = [];
                    done();
                    this.$message({
                        type: 'success',
                        message: '关闭成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取关闭'
                    });
                });
            }
        }
    })
</script>
</html>